@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meet Charlotte Griffin</h1>
    <img src="~/dsc_2558 copy 2.jpeg" />
    <br />
    <br />
    <p>One of my hobbies is being pretty good at everything I do!</p>
    
</div>
