@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Breaking news: Charlotte Griffin has a hobby</h1>
    <img src="~/dsc_2558 copy 2.jpeg" height="400"/>
    <br />
    <br />
    <p>One of my hobbies is being "pretty good" at everything I try</p>
    <br />
    <p>Some of the things I like to do (and therefore am pretty good at) include:</p>
    <div style="text-align: left">
        <ul>
            <li>Rock climbing</li>
            <li>Snowboarding</li>
            <li>Grilling steak</li>
            <li>Country swing dancing</li>
            <li>Playing sports like basketball</li>
            <li>Cooking / baking</li>
            <li>Sprinting short distances</li>
            <li>Watching people play sports</li>
            <li>Hiking in the winter</li>
            <li>Dancing and cheerleading</li>
            <li>Painting / drawing</li>
            <li>... You get the idea</li>
        </ul>
        <p>Allow me to provide proof that I do these things: </p>
        <img src="~/img_7773.jpg" />
        <img src="~/hiking.jpeg" />
    </div>
</div>
