@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Charlotte Griffin</h1>
    <img src="~/dsc_2558 copy 2.jpeg" height="400"/>
    <br />
    <br />
    <p>One of my hobbies is trying lots of new things! This website is about my hobbies and how I can help you learn more about my hobbies. </p>
    <br />
    <p>
        I get bored easily, so trying new things frequently keeps life interesting and gives me something to look forward to! I also like to work hard to become good at whatever I try, which gives me a wide range of activities to choose from and helps me make friends with all sorts of different people. I don't have a single hobby I'm really good at, instead I'm just "pretty good" at a lot of different things and that's okay!
    </p>
    <br />
    <p>Some of the things I like to do (and therefore am pretty good at) include:</p>
    <div style="text-align: left">
        <ul>
            <li>Rock climbing: top rope is my favorite</li>
            <li>Snowboarding in powder</li>
            <li>Grilling steak with garlic butter</li>
            <li>Making music on Garageband</li>
            <li>Country swing dancing</li>
            <li>Playing sports like basketball</li>
            <li>Cooking and baking (and then eating) </li>
            <li>Sprinting short distances</li>
            <li>Watching sports</li>
            <li>Hiking (in the winter especially)</li>
            <li>Dancing and cheerleading... still got it</li>
            <li>Painting or drawing or anything artistic</li>
            <li>... and so many more!</li>
        </ul>
        <p>This winter, I have been doing a lot of snowboarding, ice-skating, and hiking with friends! </p>
        <div style="text-align: center">
            <img src="~/img_7773.jpg" height="300" style="display: inline-block;" />
            <img src="~/hiking.jpeg" width="400" style="display: inline-block;" />
        </div>
        <div style="text-align: center; margin-top: 20px">
            <img src="~/img_9793.jpg" height="300" style="display: inline-block;" />
        </div>
        <br />
        <br />
    </div>
</div>
