@{
    ViewData["Title"] = "Calculator";
}
<h1>@ViewData["Title"]</h1>

<p>Want to learn how to be great at everything? I can teach you!</p>
<br />
<p>Use the calculator below: </p>

<div class="container">
    <form>
        <label for="hours">Number of hours: </label>
        <input type="number" id="hours"/>
        <br />
        <label for="rate">My Hourly Rate: </label>
        <input type="text" id="rate" readonly value="$100" style="background-color: gainsboro"/>
        <br />
        <input type="button" onclick="runCalc()"/>
        <br />
        <output id="result"></output>
    </form>
</div>
